body {
  background-color: #edeeee;
  text-color: gray;
  font-family: 'Arial', sans-serif;
}
video {
  border: 5px;
  border-color: gray;
}
button {
  border: 4px;
  border-color: gray;
  font-size: 14px;
}
